@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

.BlockRest {

  div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .BlockRest_title {
      display: flex;
      justify-content: space-between;
      border-bottom: 4px solid;
      border-image: linear-gradient(90.95deg, #af802a -0.52%, #dfc464 126.88%) 1;

      h2 {
        font-family: "Georgia", serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        line-height: 27.27px;
        letter-spacing: 0%;
      }

      button {
        border: none;
        background: transparent;
      }
    }

    article {
      height: 600px;
      display: grid;
      grid-template-columns: 560px 560px;
      gap: 20px;

      main {
        width: 560px;
        height: 600px;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 463px 87px 20px 20px;

        .content {
          text-decoration: none;
          font-family: Raleway;
          font-weight: 600;
          font-size: 12px;
          line-height: 14.09px;
          letter-spacing: 0%;
          padding: 6px 16px;
          color: #fff;
          text-transform: uppercase;
          background: linear-gradient(
            90.95deg,
            #af802a -0.52%,
            #dfc464 126.88%
          );
        }

        h3 {
          margin-top: 16px;
          font-family: "Georgia", serif;
          font-weight: 700;
          font-size: 22px;
          line-height: 22.72px;
          letter-spacing: 0%;
          color: #ffffff;
        }

        p {
          margin-top: 16px;
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: serif;
          font-weight: 400;
          font-size: 10px;
          line-height: 13.3px;
          letter-spacing: 0%;
          color: #e2e2e2;
          text-transform: uppercase;

          .dot {
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #e2e2e2;
          }
        }
      }

      ul {
        width: 560px;
        height: 600px;
       overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        gap: 20px;

        li {
          display: flex;
          flex-direction: column;
          gap: 14px;
          width: 270px;
      

          img {
            width: 270px;
            height: 260px;
          }

          .span {
            text-transform: uppercase;
            font-family: Jost;
            font-weight: 500;
            font-size: 12px;
            line-height: 17.34px;
            letter-spacing: 0%;

            background: linear-gradient(
              90.95deg,
              #af802a -0.52%,
              #dfc464 126.88%
            );

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          h4 {
            font-family: Georgia;
            font-weight: 700;
            font-size: 16px;
            line-height: 18.18px;
            letter-spacing: 0%;
            color: #131212;
          }

          p {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'Jost', serif;
            font-weight: 400;
            font-size: 10px;
            line-height: 14.45px;
            letter-spacing: 0%;
            color: #979797;
            text-transform: uppercase;

            .dot {
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #979797;
            }
          }
        }
      }
    }
  }
}
