@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap");

.ArticleHero {
  .div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 25px;
    margin-bottom: 60px;
    padding: 0 15px;

    @media (max-width:990px) {
      display: flex;
      flex-direction: column;
    }

    main {
      width: 948px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (max-width: 990px) {
        width: 100%;
      }

      h1 {
        font-family: Georgia;
        font-weight: 700;
        font-size: 22px;

   
        text-transform: uppercase;
        color: #131212;
        @media (max-width: 990px) {
        font-size: 20px;
        }
  

        @media (max-width: 490px) {
          font-size: 14px;
        }
  
      }

      .span {
        display: flex;
        gap: 20px;
        align-items: center;

        @media (max-width: 490px) {
          gap: 10px;
        }
  
        .button {
          padding: 7px 16px ;
          text-align: center;
          background: linear-gradient(
            90.95deg,
            #af802a -0.52%,
            #dfc464 126.88%
          );
          color: #fff;
          border: none;
          font-family: 'Raleway', serif;
         
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;

          @media (max-width: 490px) {
            font-size: 8px;
            padding: 5px 12px;
          }
    
        }
      }

      .img {
        width: 100%;
      }

      .h5 {
        font-family: "Jost", serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #131212;

        @media (max-width: 490px) {
          font-size: 10px;
        }
  
      }
      .pp {
        font-family: Segoe UI;
        font-weight: 400;
        font-size: 12px;
        
        text-transform: uppercase;
        color: #979797;

        @media (max-width: 490px) {
          font-size: 8px;
        }
  
      }

      .p {
        display: flex;
        gap: 10px;
        align-items: center;
        @media (max-width: 490px) {
          gap: 5px;
        }
  

        .vievs {
          font-family: Segoe UI;
          font-weight: 400;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #979797;

          @media (max-width: 490px) {
           font-size: 10px;
          }
   
        }
        .viewsImg {
          color: #979797;
          width: 20px;
          height: 20px;
        }
      }

      .bigCart {
        width: 100%;
        ul{
          list-style: none;
        }
        li{
          list-style: none;
        }
        img {
          width: 948px;
        }
      }

      h3 {
        font-family: Georgia;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #131212;
      }

      ul {
        list-style: none;
        display: flex;
        gap: 30px;

        .li {
          padding: 14px 24px;
          border-radius: 100px;
          background: #f5f7fa;
          font-family: Jost;
          font-weight: 500;
          font-size: 12px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;
          color: #787878;
        }
      }
    }
  }
}
