@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.Contact {
  margin-top: 40px;
  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    main {
      width: 559px;
      height: 540px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      background: #131212;
      gap: 44px;
      margin-bottom: 100px;
      

      .ContactTop {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
          margin-bottom: 10px;
          width: 99px;
          background: linear-gradient(
            90.95deg,
            #af802a -0.52%,
            #dfc464 126.88%
          );
          text-transform: uppercase;
          padding: 7px 16px 6px;
          font-family: "Raleway", serif;
          color: #ffffff;
          border: none;

          font-weight: 600;
          font-size: 12px;
          line-height: 14.09px;
          letter-spacing: 0%;
        }

        h2 {
          font-family: "Georgia", serif;
          font-weight: 700;
          font-size: 24px;
          line-height: 27.27px;
          letter-spacing: 0%;
          color: #ffffff;
        }

        .ContactSchedule {
          color: #979797;
          font-family: "Jost", serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 20.23px;
          letter-spacing: 0%;
        }
      }
      .ContactEmail {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .Email {
          color: #ffffff;

          font-family: "Georgia", serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 18.18px;
          letter-spacing: 0%;
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: Auto;
        }
      }

      .ContactFrame {
        display: flex;
        flex-direction: column;
        gap: 9.5px;

        .list {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .listTitle {
            font-family: "Jost", serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20.23px;
            letter-spacing: 0%;
            color: #979797;
          }

          .listText {
            font-family: "Jost", serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20.23px;
            letter-spacing: 0%;
            color: #ffffff;
          }
        }
      }

      .list:nth-child(1) {
        .listText {
          font-size: 16px;
          line-height: 23.12px;
        }
      }
    }

    .ContactSocial {
      display: flex;
      align-items: center;
      justify-content: space-between;

      nav {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      p {
        font-family: 'Jost', serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 17.34px;
        letter-spacing: 0%;
        color: #979797;
      }
    }
  }
}
