@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.Header {
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 15;
  width: 100%;
 
 

  .topBar {
    display: none;
  }

  div {
   
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    .nav{
      display: none;
    }
    label {
      display: none;
    }

    .burger {
      display: none;

      @media (max-width:800px) {
        display: block;
        border: none;
        background: transparent;
      }
    }
    .none{
      display: none;
    }
    .h2 {
      display: none;
    }

    .noneH2{
      display: none;
    }

    nav {
      padding: 0 10px;
      display: flex;
      gap: 40px;
      overflow: scroll;

      @media (max-width: 1199px) {
        max-width: 750px;
      }
      @media (max-width: 1000PX) {
        max-width: 500px;
      }
      @media (max-width: 799px) {
        display: none;
      }

      .link {
        transition: all .5s ease;
        align-items: center;
        .linkTitle {
          display: flex;
          gap: 10px;
          white-space: nowrap;
          padding: 20px 0;
          border-bottom: 4px solid #fff;
          color: #131212;
          text-decoration: none;
          font-family: 'Jost';
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          text-transform: uppercase;

         
        }
        .dropdown {
          display: none;
        }
      }

      .link:hover{

       
        .linkTitle{
         
          position: relative;
          background: linear-gradient(90.95deg, #b0852c -0.52%, #d8c05b 126.88%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-bottom: 4px solid;
          border-image: linear-gradient(90.95deg, #af802a -0.52%, #dfc464 126.88%) 1;

         
        }

        img{
          transition: .3s ease-in all;
          transform: rotate(-180deg);
        }
        .dropdown {
          display: block;
          position: absolute;
          top: 65px;
          background-color: #fff;
          z-index: 99;

          .dropdownIner{
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 20px 20px 50px;
            
            .listDr{
              font-family: 'Jost';
              color: #131212;
              text-decoration: none;
              font-weight: 500;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              text-transform: uppercase;
              transition: all 0.3s ease-in-out;
              &:hover{
                background: linear-gradient(90.95deg, #b0852c -0.52%, #d8c05b 126.88%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
      }
      .plus {
        display: none;
      }

      
    }

    nav::-webkit-scrollbar {
      display: none;
    }

    @media (max-width:800px) {
      .searchNone{
        display: none;
      }

      .noneLogo{
        display: none;
      }
      .Nnav{
        padding: 70px 20px;
        position: relative;
        display: block;
        position: fixed;
        text-align: start;
        background-color: #fff;
        width: 75%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;


        .link{
          
          display: flex;
          align-items: start;
          margin: 0;

          flex-direction: column;
          .linkTitle{
            text-align: start;
          }
          

          &:hover{
            .dropdown{
              display: block;
              position: static;
              width: 100%;
              background: transparent;
              padding-left: 0;
              align-items: start;
              padding: 0 0;
              z-index: 0;
             
            }
          }
        }

        .plus{
          display: block;
          position: absolute;
          top: 16px;
          right: 16px;
          cursor: pointer;
          background: transparent;
          border: none;
        }

        
      }
    }
    

    .label{
      display: flex;
      align-items: center;
      gap: 10px;
      border-bottom: 2px solid #000;
      height: 45px;
      margin: 0 0 20px;
      gap: 10px;

    
      @media (max-width:800px) {
        margin: 0 auto;
        width: 100%;
      }
      button{
        background: none;
        border: none;
        }
   
        
        input{
          width: 450px;
          outline: none;
          border: none;

          &::-webkit-search-cancel-button {
            display: none;
          }
          @media (max-width:900px) {
            width: 350px;
          }
          @media (max-width:800px) {
            width: 100%;
          }
          
        }

      
    }

    .search{
      background: transparent;
      border: none;
      cursor: pointer;
    }
    .searchNone{
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

