.AbHero {
  margin-top: 60px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    button {
        text-transform: uppercase;
      padding: 6px 16px;
      font-family: Raleway;
      font-weight: 600;
      font-size: 12px;
      line-height: 14.09px;
      letter-spacing: 0%;
      background: linear-gradient(90.95deg, #af802a -0.52%, #dfc464 126.88%);
      width: 69px;
      color: #ffffff;
      border: none;
    }

    h1 {
        text-transform: uppercase;
      font-family: "Georgia", serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 29.54px;
      letter-spacing: 0%;
      text-align: center;
      margin: 0 256px;
    }

    img {
      width: 1140;
      height: 540;
    }
  }
}
